@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<ol>

    @if(TempData["projects"] != null)
    {
        @foreach (var item in (string[])TempData["projects"])
        {
            <li>@item</li>
        }
    }
    else
    {
        <p>Data not Found!</p>
    }

</ol>


