
@{
    ViewData["Title"] = "About";
    // var data = TempData["prj"] as List<string>;
    TempData.Keep();
}

<h1>About</h1>

<h1>Our Projects</h1>
<ul>
    @foreach(var item in (string[])TempData["projects"])
    {
        <li>@item</li>
    }
</ul>
